@use "../../../../../style/variables.scss" as *;

mat-card.main-card {
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: $white-medium;

  &:hover {
    img.preview-image-container {
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
    }
  }

  div.preview-image-container {
    flex: 5;

    img.preview-image {
      width: 100%;
      height: 380px;
    }
  }

  div.highlight-content-side {
    flex: 4;
  }
}
