<nav>
  <div class="logo-page">
    <img src="/assets/img/TechKnowledge.svg" alt="Logo da página com nome escrito TechKnowledge com seu tom na cor branca">
  </div>
  
  <div class="menu-options" id="navbar">
    <div class="icon-navbar" id="btn-mobile">
        <img class="btn-mobile-remove" src="assets/img/icon-navbar.svg" alt="Ícone de menu responsivo no formato de duas linhas da cor branca">
    </div>

    <div class="icon-navbar" id="btn-close">
        <img src="assets/img/icon-close.svg" alt="Ícone no formato de um X na cor branca">
    </div>

    <ul id="menu-list">
      <a routerLink="/">
        <li>Home</li>
      </a>
      <a routerLink="sobre">
        <li>Sobre</li>
      </a>
      <a routerLink="posts">
        <li>Posts</li>
      </a>
      <a routerLink="insight-of-days">
        <li>InsigthsOfDays</li>
      </a>
    </ul>
  </div>
</nav>
