<nav>
  <div class="container">
    <div class="logo-container">
      <img
        src="../../../../../assets/img/TechKnowledge.svg"
        alt="Logo branca do Techknowledge"
      />
    </div>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="sobre">Sobre</a>
      </li>
      <li>
        <a routerLink="posts">Posts</a>
      </li>
      <li>
        <a routerLink="insight-of-days">InsightOfDays</a>
      </li>
    </ul>
    <div class="mobile-menu-icon">
      <button (click)="showMenuItems()">
        <img
          *ngIf="!showMenu; else closeMenuIcon"
          src="../../../../../assets/img/icon-navbar.svg"
          alt="Botão com duas linhas, representando um formato parecido com um hambúrguer"
        />
        <ng-template #closeMenuIcon>
          <img
            src="../../../../../assets/img/icon-close.svg"
            alt="Botão com duas linhas, representando um formato parecido com um hambúrguer"
          />
        </ng-template>
      </button>
    </div>
  </div>
</nav>

<div class="mobile-menu {{ showMenu ? 'top-down' : 'down-top' }}">
  <ul>
    <li>
      <a routerLink="/">Home</a>
    </li>
    <li>
      <a routerLink="sobre">Sobre</a>
    </li>
    <li>
      <a routerLink="posts">Posts</a>
    </li>
    <li>
      <a routerLink="insight-of-days">InsightOfDays</a>
    </li>
  </ul>
  <app-divider></app-divider>
</div>
