@use "../../../../../style/variables.scss" as *;

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.2rem;
  padding: 0 11.6rem;

  background-color: $primary-dark;

  .logo-page {
    img {
      height: 2.4rem;
    }
  }

  .menu-options {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon-navbar {
      display: none;
      cursor: pointer;
    }

    ul {
      list-style-type: none;
      display: flex;
      a {
        text-decoration: none;
        color: $white;
        font-size: 1.6rem;
        font-weight: 500;
        transition: 0.3s;

        &:hover {
          color: $white;
          font-weight: bold;
        }
      }

      a + a {
        margin-left: 1.6rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding: 0 4rem;
    
    #btn-mobile {
      display: block;
    }

    #menu-list {
      display: block;
      position: absolute;
      width: 100%;
      top: 6rem;
      right: 0px;
      height: 0;
      transition: all ease-in-out .8s;
      z-index: 1000;
      background-color: rgba(12, 94, 255, 0.8);
      visibility: hidden;
      overflow-y: hidden;
    }

    #menu-list a {
      display: flex;
      flex-direction: column;
      
      font-size: 2.4rem;

      padding: 2.4rem;
    }

    #menu-list a + a {
      margin-left: 0;
    }

    #navbar.active #menu-list {
      height: 242vh;
      visibility: visible;
      overflow-y: auto;
    }

    #btn-close.close {
      display: block;
    }

    #btn-mobile.icon-hamgurber-remove {
      display: none;
    }
  }
}
