@use "../../../../../style/variables.scss" as *;

nav {
  padding: 0.16rem 0;

  .menu-options {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style-type: none;
      display: flex;

      a {
        text-decoration: none;
        color: $dark-dark;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 1.6rem 2rem;
        transition: 0.3s;

        &:hover {
          color: $dark-medium;
          font-weight: bold;
        }
      }
    }
  }
}
