<header>
  <div class="title">
    <img
      src="/assets/img/TechKnowledge.svg"
      alt="Imagem da logo com o nome escrito TechKnowledge"
    />
  </div>

  <div class="description">
    <p>Seja bem-vindo ao blog TechKnowledge!</p>
    <p>
      Um portal para compartilharmos conhecimento da área da tecnologia.
      Sinta-se convidado a explorar todo esse universo que preparamos para você
      e embarque com a gente nessa aventura!
    </p>
  </div>

  <div class="button-actions">
    <button
      mat-raised-button
      aria-label="button com um ícone de uma seta virada para o lado direito"
    >
      Ver conteúdos

      <div class="arrow-icon">
        <img
          src="/assets/img/arrow_forward_white.svg"
          alt="ícone no formato de uma seta"
        />
      </div>
    </button>
  </div>
</header>
