@use "../../../../../style/variables.scss" as *;

footer {
  display: flex;
  flex-direction: column;
  
  p{
    margin: 0;
    color: $white;
  } 

  .waves  {
    overflow: hidden;
  }

  .waves img {
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: -5px;
    height: 120px;
    background: $primary-dark;
    padding: 0 11.6rem;
  }

  .logo {
    margin-bottom: 1.6rem;
  }
}

@media screen and (max-width: 400px) {
  footer {
    .waves img {
      height: 40px;
    }

    .content {
      padding: 0 4rem;
    }
  }
}