<footer>
  <div class="content">
    <div class="logo">
      <img
        src="/assets/img/TechKnowledge.svg"
        alt="Logo na cor branca com o nome escrito TechKnowlegde"
      />
    </div>

    <div class="footer-info">
      <div class="copyright">
        <p>
          © 2022 - Leticia Dias e Mikael Ribeiro. Todos os direitos reservados
        </p>
      </div>
      <div class="social-links">
        <ul>
          <li (click)="openDialog()">
            <i class="bi bi-linkedin"></i>
            <span>LinkedIn</span>
          </li>
          <li>
            <i class="bi bi-instagram"></i>
            <span>Instagram</span>
          </li>
          <li>
            <i class="bi bi-github"></i>
            <span>Github</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
