<footer>
  <div class="logo">
    <img
      src="/assets/img/TechKnowledge.svg"
      alt="Logo na cor preta com o nome escrito TechKnowlegde"
    />
  </div>

  <div class="footer-info">
    <div class="copyright">
      <p>
        © 2022 - Leticia Dias e Mikael Ribeiro. Todos os direitos reservados
      </p>
    </div>

    <!-- TODO: SPRINT TWO MODAL -->

    <!-- <div class="social-networks">
      <div class="linkedin">
        <img
          src="/assets/img/linkedin.svg"
          alt="Logomarca do linkedin na cor preta"
        />
        <a href="#">LinkedIn</a>
      </div>
      <div class="instagram">
        <img
          src="/assets/img/instagram.svg"
          alt="Logomarca do instagram na cor preta"
        />
        <a href="#">Instagram</a>
      </div>
      <div class="github">
        <img
          src="/assets/img/github.svg"
          alt="Logomarca do github na cor preta"
        />
        <a href="#">Github</a>
      </div>
    </div> -->
  </div>
</footer>
