@use "../../../../../style/variables.scss" as *;

footer {
  display: flex;
  flex-direction: column;
  
  p{
    margin: 0;
    color: $white;
  } 

  .waves  {
    overflow: hidden;
  }

  .waves img {
    overflow: hidden;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: -5px;
    height: 120px;
    background: $primary-dark;
    padding: 0 11.6rem;
  }

  .logo {
    margin-bottom: 1.6rem;
  }
}

@media screen and (max-width: 2560px) {
  footer {
    .waves img {
      display: block;
      height: 100px;
      min-width: 100%;
    }
  }
}

@media screen and (max-width: 1446px) {
  footer {
    .waves img {
      height: 80px;
      min-width: none;
    }
  }
}


@media screen and (max-width: 1446px) {
  footer {
    .waves img {
      height: 72px;
    }
  }
}

@media screen and (max-width: 800px) {
  footer {
    .waves img {
      height: 56px;
    }

    .content {
      padding: 0 4rem;
    }
  }
}


@media screen and (max-width: 500px) {
  footer {
    .waves img {
      height: 48px;
    }
  }
}


@media screen and (max-width: 300px) {
  footer {
    .waves img {
      height: 180px;
    }
  }
}