@use "../../../../../style/variables.scss" as *;

footer {
  display: flex;
  background: $primary-dark;
  flex-direction: column;

  p {
    margin: 0;
    color: $white;
  }

  div.content {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 3.2rem 0;
  }

  .logo {
    margin-bottom: 1.6rem;
  }
}

@media screen and (max-width: 1220px) {
  footer {
    padding: 0 2.4rem;
    div.content {
      width: 100%;
    }
  }
}
