@use "src/style/variables" as *;

div.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h6 {
    font-size: 4rem;
    font-weight: bold;
    font-family: $poppins-bold;
  }

  span {
    font-size: 2rem;
    font-family: $poppins-regular;
  }

  button {
    font-family: $poppins-bold;
    background-color: $primary-dark;
    color: white;
    font-size: large;
  }
}
