main {
  width: 80%;
  margin: 0 auto;

  .highlights {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1000px) {
  .highlights {
    flex-direction: column;
  }
}
