<div class="container">
  <div class="icon-side">
    <div
      [ngStyle]="{
        backgroundColor: data.theme
      }"
    >
      <img
        src="../../../../../assets/img/warning-outline-icon.svg"
        alt="Ícone de aviso em amarelo escuro, rodeado por uma superfície amarelo-clara"
      />
    </div>
  </div>
  <div class="content-side">
    <h3>{{ data.modalTitle }}</h3>
    <span>
      {{ data.modalDescription }}
    </span>
    <section class="buttons">
      <button mat-raised-button 
        *ngIf="data.negativeButtonMessage"
        [ngStyle]="{
          backgroundColor: data.theme
        }"
      >
        {{
          data.negativeButtonMessage ? data.negativeButtonMessage : "Cancelar"
        }}
      </button>
      <button mat-raised-button
        [ngStyle]="{
          backgroundColor: data.theme,
          color: 'black'
        }"
      >
        {{ data.positiveButtonMessage ? data.positiveButtonMessage : "Ok" }}
      </button>
    </section>
  </div>
</div>
