main {
<<<<<<< HEAD
  width: 80%;
  margin: 0 auto;
}
=======
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  main {
    width: 100%;
  }
}
>>>>>>> 7020cc6d264c952165e842c39f920e35d691a320
