@use "../../../../../style/variables.scss" as *;

main {
  width: 40%;
  margin: 0 auto;

  article.post-article {
    padding: 6.4rem 0;

    header {
      h1 {
        font-family: $poppins-bold;
        color: $grey-500;
        font-size: 3.2rem;
        margin-bottom: 1.6rem;
        line-height: 4rem;
      }
      h2 {
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $grey-500;
      }
    }

    div.post-content {
      font-family: $roboto-regular;
      font-size: 1.8rem;
      color: $grey-700;

      h3 {
        font-size: 2.4rem;
        font-family: $poppins-bold;
        margin-top: 3.2rem;
      }
      p {
        margin-bottom: 1.6rem;
        line-height: 3.2rem;
      }

      a {
        text-decoration: none;
        color: rgb(0, 102, 133);
      }
    }
  }
}

@media screen and (max-width: 1399px) {
  main {
    width: 60%;
  }
}

@media screen and (max-width: 1199px) {
  main {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 90%;
  }
}
