div.main {
  div.post-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;

    app-card {
      flex: 1;
      display: flex;
    }

    app-card:nth-child(2) {
      margin: 0 4.8rem;
    }
  }

  @media screen and (max-width: 1250px) {
    & {
      padding: 0 20px;
    }
  }

  @media screen and (max-width: 890px) {
    div.post-columns {
      flex-direction: column;

      app-card:nth-child(2) {
        margin: 0;
      }
      app-card {
        display: inline-block;
      }
    }
  }
}
