div.main {
  display: flex;
  justify-content: space-between;

  app-card {
    flex: 1;
    display: flex;
  }
}

@media screen and (max-width: 890px) {
  div.main {
    flex-direction: column;

    app-card {
      display: inline-block;
    }
  }
}
