@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto"),
    url(../../assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto"),
    url(../../assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto"),
    url(../../assets/fonts/Roboto/Roboto-Black.ttf) format("truetype");
}
