@use "./theme.scss";
@use "./variables.scss" as vars;

@import "~bootstrap-icons/font/bootstrap-icons.css";

/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  // Set the font size to 62.5% so that 1rem = 10px
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: vars.$white-medium;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
