// App Colors

$primary-white: #7aa6fe;
$primary-medium: #4f8aff;
$primary-dark: #0c5eff;
$primary-black: #0147d2;

// Semantic Colors

$success-light: #57df92;
$success-medium: #2ed778;
$success-dark: #04d35e;
$success-black: #008a3c;

$danger-light: #fcaab2;
$danger-medium: #fa7e8a;
$danger-dark: #f75a69;
$danger-black: #c11525;

$warning-light: #ffd09b;
$warning-medium: #ffbc70;
$warning-dark: #fba84c;
$warning-black: #b8670d;

// Neutral colors

$white: #ffffff;
$white-medium: #f8f9fb;
$white-dark: #cecece;
$white-black: #a2a0a0;

$grey-100: #e1e1e6;
$grey-200: #8d8d99;
$grey-500: #505059;
$grey-700: #29292e;

$dark-light: #646885;
$dark-medium: #474b6a;
$dark-dark: #1e2240;
$dark-black: #101430;

$post-tag: #efefef;

//font variables
$poppins-regular: "Poppins-Regular", "Helvetica Neue", sans-serif;
$poppins-bold: "Poppins-Bold", "Helvetica Neue", sans-serif;
$poppins-black: "Poppins-Black", "Helvetica Neue", sans-serif;

$roboto-regular: "Roboto-Regular", "Helvetica Neue", sans-serif;
$roboto-bold: "Roboto-Bold", "Helvetica Neue", sans-serif;
$roboto-black: "Roboto-Black", "Helvetica Neue", sans-serif;
