<header>
  <app-navbar></app-navbar>
  <div class="container">
    <div class="description">
      <span>
        Um portal para compartilharmos conhecimento da área da tecnologia.
      </span>
    </div>

    <div class="authors">
      <div class="author">
        <div class="author-image">
          <img
            src="/assets/img/mikael-ribeiro-avatar.jpeg"
            alt="Fundo com o nome Roga DX. Um homem branco, usando uma blusa branca com detalhes pretos e calça da cor preta e cabelo encaracolado da cor castanha."
          />
        </div>

        <div class="author-description">
          <p>
            Criador de conteúdo e Fundador do blog TechKnowledge por Mikael
            Ribeiro
          </p>
        </div>
      </div>

      <div class="author">
        <div class="author-image">
          <img
            src="/assets/img/leticia-dias-avatar.jpeg"
            alt="Uma mulher com uma blusa preta com detalhe de um desenho de astronauta. Cabelo liso com franja e um cachar no pescoço."
          />
        </div>

        <div class="author-description">
          <p>
            Criadora de conteúdo e Co-Fundadora do blog TechKnowledge por
            Leticia Dias
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
