<header>
  <app-navbar></app-navbar>
  <div class="container">
    <img
      src="/assets/img/TechKnowledge.svg"
      alt="Imagem da logo com o nome escrito TechKnowledge"
    />
    <div class="description">
      <span>Seja bem-vindo ao blog TechKnowledge!</span>
      <span>
        Um portal para compartilharmos conhecimento da área da tecnologia.<br />
        Sinta-se convidado a explorar todo esse universo que preparamos para
        você
        <br />
      </span>
    </div>
  </div>
</header>
