@use "/src/style/variables.scss" as *;

header {
  background-color: $primary-dark;

  div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 1200px;
    height: 300px;
    margin: 0 auto;

    padding-top: 2.4rem;

    .description {
      display: flex;
      flex-direction: column;
      span {
        display: block;
        max-width: 72rem;

        font-family: $poppins-bold;
        font-size: 3.2rem;
        color: $white;
        line-height: 5rem;
      }
    }

    div.authors {
      display: flex;
      align-items: center;

      padding: 2.4rem 0;

      div.author {
        display: flex;
        align-items: center;

        .author-image img {
          height: 4.8rem;
          border-radius: 50%;
          border: 2px solid #57df92;
        }

        .author-description {
          padding: 0.8rem 0 0 1.6rem;
        }

        .author-description p {
          color: #fff;
          font-weight: bold;
          width: 66%;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  header {
    padding: 0 2.4rem;

    div.container {
      width: 100%;
    }
  }
}

@media screen and (max-width: 850px) {
  header {
    div.container {
      height: 250px;

      img {
        width: 300px;
      }

      div.description {
        width: 100%;
        span {
          font-size: 1.6rem;
          line-height: 2.4rem;
        }
      }

      div.authors {
        div.author {
          .author-image img {
            width: 4.8rem;
            height: 4.8rem;
          }

          .author-description p {
            width: 93%;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  header {
    div.container {
      height: auto;
      padding-bottom: 2.4rem;
      img {
        width: 230px;
      }

      div.authors {
        flex-direction: column;
        .author {
          padding: 0.8rem 0;
          .author-image img {
            width: 3.2rem;
            height: 3.2rem;
          }

          .author-description p {
            width: 100%;
            font-size: 12px;
          }
        }
      }
    }
  }
}
