@use "/src/style/variables.scss" as *;

header {
  z-index: 1;
  background-color: $primary-dark;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    p {
      color: $grey-700;
      text-align: center;
      line-height: 20px;
    }
  }
}
