@font-face {
  font-family: "Poppins-Regular";
  src: local("Poppins"),
    url(../../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  src: local("Poppins"),
    url(../../assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins-Black";
  src: local("Poppins"),
    url(../../assets/fonts/Poppins/Poppins-Black.ttf) format("truetype");
}
