<section>
  <div class="logo-side">
    <img [src]="data.logoPath" [alt]="data.alternativeText" />
    <strong class="social-media-title">{{ data.socialMediaName }}</strong>
  </div>
  <div class="content-side">
    <div class="author-content">
      <img
        src="../../../../../assets/img/mikael-ribeiro-avatar.jpeg"
        alt="Avatar de Mikael Ribeiro, do qual existe um fundo vermelho, com Mikael em filtro acinzentado"
      />
      <a [href]="data.mikaelLink" target="_blank">Mikael Ribeiro</a>
    </div>
    <div class="author-content">
      <img
        src="../../../../../assets/img/leticia-dias-avatar.jpeg"
        alt="Avatar de Leticia Dias, com um prédio ao fundo, utilizando uma camisa branca, do treinamento dos competidores de Alagoas"
      />
      <a [href]="data.leticiaLink" target="_blank">Leticia Dias</a>
    </div>
  </div>
</section>
