@use "../../../../../style/variables.scss" as *;

mat-card {
  margin: 3.2rem auto;
  padding: 0;
  cursor: pointer;
  background-color: $white-medium;
  transition: all ease-in-out 1s;
  outline: none;

  &:hover {
    mat-card-title {
      color: $primary-dark;
    }
  }

  mat-card-title {
    height: 5.6rem;
    display: flex;
    align-items: center;
    transition: 0.1s;
  }

  mat-card-content,
  mat-card-subtitle,
  mat-card-title {
    margin-top: 1.6rem;
    font-family: $poppins-bold;
    color: $grey-500;
    line-height: 3rem;
  }

  mat-card-content {
    font-family: $roboto-regular;
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 16rem;
  }

  img {
    width: 100%;
    height: 23.2rem;
    -webkit-box-shadow: -3px 9px 21px -10px rgba(86, 86, 86, 0.52);
    box-shadow: -3px 9px 21px -10px rgba(86, 86, 86, 0.52);
    margin-bottom: 1.2rem;
    object-fit: cover;
    transition: 0.2s;
  }

  section.author-card-section {
    display: flex;
    align-items: center;

    img {
      border-radius: 100px;
      width: 4.8rem;
      height: 4.8rem;
      margin-right: 0.8rem;
    }

    div {
      position: relative;
      bottom: 0.6rem;

      span {
        display: block;
      }

      span:first-child {
        font-family: $poppins-bold;
      }
    }
  }

  div.under-image-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:first-child {
      font-size: 1.2rem;
      padding: 0.8rem;
      font-family: $roboto-regular;
      background-color: $post-tag;
      margin-right: 0.8rem;
    }

    span:last-child {
      font-size: 1.4rem;
      font-family: $roboto-regular;
      color: $grey-200;
      font-weight: 900;
    }
  }

  @media screen and (max-width: 1166px) {
    mat-card-content {
      height: 20rem;
    }
  }

  @media screen and (max-width: 972px) {
    mat-card-content {
      height: 22rem;
    }
  }

  @media screen and (max-width: 890px) {
    div.under-image-line {
      display: inline-block;
    }

    img {
      height: 380px;
    }

    mat-card-content {
      height: auto;
      margin-bottom: 2.4rem;
    }
  }

  @media screen and (max-width: 734px) {
    img {
      height: 252px;
    }
  }
}
