<mat-card
  [routerLink]="['/posts/', post?.slug]"
  (mouseover)="isHovering = true"
  (mouseout)="isHovering = false"
  [class.mat-elevation-z0]="true"
>
  <img class="post-image" [src]="post?.previewImagePath" />
  <div class="under-image-line">
    <span>{{ post?.category.slug }}</span>
    <span>{{ formattedCreatedDate }}</span>
  </div>
  <mat-card-title>{{ post?.title }}</mat-card-title>
  <mat-card-content [innerHtml]="post?.previewContent"></mat-card-content>
  <section class="author-card-section">
    <img [src]="post?.author.avatarPath" alt="Avatar do criador do blog" />
    <div>
      <span>{{ post?.author.name }}</span>
      <span>{{ post?.author.function }}</span>
    </div>
  </section>
</mat-card>
