@use "../../../../../style/variables.scss" as *;

main {
  div.container {
    border: 1px solid red;
    width: 120rem;
    margin: 0 auto;

    section.post-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4.8rem;

      div.post-card {
        background: $white;

        div.post-card-header {
          h2 {
            font-size: 2.4rem;
            font-family: $poppins-bold;
            color: $grey-700;
          }
        }
      }
    }
  }
}
